// base
@import 'variables.scss';

// elements
@import './elements/button.scss';

// common
@import './common/header.scss';
@import './common/footer.scss';
@import './common/common.scss';
@import './common/loader.scss';
@import './common/sidepanel.scss';

// components
@import './login/login.scss';
@import './about/about.scss';
@import './employee/employee.scss';
@import './employee/employeeList.scss';
@import './department/department.scss';
@import './offer/offer.scss';

body {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0px;
    font-family: $general_font;
    background-image: url("../assets/images/coretta.jpg");

}