// colors
$white: #fff;
$gray: #6c757d;
$blue: #007bff;
$red: #dc3545;
$info: #17a2b8;
$light: #f8f9fa;
$green: #28a745;
$orange: #fd7e14;
$yellow: #ffc107;
$gray-dark: #343a40;
$theme_color: #4267b2;
$hover_color: #213359;
$background_color: #eff1f3;

$danger: $red;
$primary: $blue;
$success: $green;
$secondary: $gray;
$warning: $yellow;

// fonts
$title_font: 14px;
$content_font: 12px;
$general_font: sans-serif, "Helvetica Neue", Helvetica, Arial;

// general
$border-radius: 4px;