@import '../variables.scss';

.btn {
  color: $white;
  border: none;
  cursor: pointer;
  border-radius: $border-radius;
}

.btn-save {
  float: right;
  padding: 10px 25px; 
  background-color: $blue;
}

.btn-save:hover {
  background-color: #003d7f;
}

.btn-view {
  padding: 10px 25px;
  background-color: $blue;
  margin: 0px 15px 0px 0px;
}

.btn-view:hover {
  background-color: #003d7f;
}

.btn-delete {
  padding: 10px 25px;
  background-color: $red;
  margin: 0px 15px 0px 0px;
}

.btn-delete:hover {
  background-color: #841f29;
}

.btn-add {
  float: right;
  margin: 8px 0;
  padding: 10px 10px;
  background-color: $green;
}

.btn-login {
  width: 100%;
  padding: 10px 40px;
  margin: 0px 0px 22px 0px;
  background-color: $blue;
}

button:disabled {
  color: #666666;
  border: 1px solid #b7b7b7;
  background-color: #cccccc;
}