@import '../variables.scss';
.login-container {
    width: 35%;
    top: 50%;
    left: 50%;
    background-color: $white;
    border-radius: 4px;
    position: absolute;
    border: 1px solid #d1d4d7;
    transform: translate(-50%, -50%);
    .login-logo{
        font-size: 22px;
        padding: 20px 0px 0px 20px;
        color: $primary;
        font-weight: bold;   
    }
    .login-wrapper {
        padding: 25px 20px 25px 20px;
        input {
            width: 100%;
            padding: 12px 10px;
            margin: 8px 0;
            font-size: 14px;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 4px;
        }
        button {
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 4px;
            font-size: 14px;
            background-color: $theme_color;
        }
    }
}