@import '../variables.scss';

.alert-danger {
    color: $red;
    float: right;
    font-size: $title_font;
}

.input-field {
    margin: 2px 0px 16px 0px;
}

.input-label{
    font-size: $title_font;
}