@import '../variables.scss';

.footer-bar {
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: $theme_color;
}