.app-container{
       overflow: hidden;
}

.sidePanel {
       left: 0;
       z-index: 50;
       height: 100%;
       width: 240px;
       position: fixed;

       padding: 1em;
       color: white;
       background: #242428;
}

.contentPanel {
       display: flex;
       margin-left: 240px;
       position: relative;
       flex-direction: column;
       max-width: calc(100vw - 240px);

       background: #87bcf8;

       
}