.sidePanel {
       z-index: 50;
       height: 100%;
       background: #242428;
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       color: white;
       display: flex;
}

.contentPanel {
       background: #87bcf8;
       display: flex;
       flex-direction: column;
       max-width:  calc(100vw - 240px);
       position: relative;
       margin-left: 210px;
}