.sidebar-wrapper {
    height: 100%;
    width: 240px;
    overflow: auto;
    position: fixed;
    margin-top: 49px;
    background-color: #fff;
    border-right: 1px solid #ccc;
}

.sidebar-item {
    border: none;
    display: block;
    text-align: left;
    padding: 8px 16px;
}

.hamburger-menu {
    float: left;
    color: white;
    font-size: 32px;
    background: none;
    font-weight: bold;
    border-style: none;
    background-color: none;
}