@import '../variables.scss';

#sidebar {
    width: 240px;
    height: 100%;
    position: fixed;
    margin-top: 49px;
    overflow-x: hidden;
    border-right: 1px solid #ccc;
    background-color: $background_color;
    z-index: 1;
    transform: translateX(-240px);
    transition: transform 300ms ease-in-out;
}

#sidebar.open {
    transform: translateX(0);
  }

#sidebar.close {
    transform: translateX(-100%);
  }

.sidebar-item {
    color: black;
    display: block;
    text-align: left;
    padding: 14px 14px;
    text-decoration: none;
}

.sidebar-item-button{
    background: none;
    border: none;
    display: block;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 16px; 
}

.sidebar-item-button:hover {
    color: $white;
    cursor: pointer;
    width: inherit;
    text-align: left;
    background-color: $hover_color;
}

.sidebar-item:hover {
    color: $white;
    background-color: $hover_color;
}