@import '../variables.scss';

.employee-container {
    top: 50%;
    left: 50%;
    width: 22%;
    margin: 10px;
    padding: 25px;
    position: absolute;
    border-radius: 4px;
    background-color: $white;
    border: 1px solid #d1d4d7;
    transform: translate(-50%, -50%);

    .employee-wrapper {
        padding: 20px;

        input {
            width: 100%;
            margin: 8px 0px;
            padding: 10px 10px;
            border-radius: 4px;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            width: 40%;
            border: none;
            margin: 8px 0;
            color: $white;
            cursor: pointer;
            padding: 14px 20px;            
            border-radius: 4px;
        }
    }
}